article {
  padding: 1em 0;
}

article h1 {
  text-align: center;
  padding-top: 1em;
  color: #5296d6;
}
article li {
  padding: 0.5em;
}
article span {
  font-size: 16px;
}
/* 提供服務 */
.articleCenterMaxWidth {
  max-width: 1200px;
  margin: auto;
}
.service img {
  display: block;
  margin: auto;
  width: 85%;
  max-width: 430px;
  border-radius: 10px;
}
.service ol {
  margin: auto;
  width: 80%;
  padding: 1em;
}

/* 聯絡我們 */
.physicalstore div > img {
  display: block;
  margin: auto;
  width: 90%;
  max-width: 350px;
  border-radius: 10px;
}
.physicalstore div:first-child {
  margin: auto;
}
.physicalstore ul {
  width: 80%;
  margin: auto;
  padding: 0.6em;
  border-left: 3px solid black;
}
.physicalstore ul li img {
  width: 100%;
  max-width: 360px;
}

/* 報修單 */
.repair {
  padding: 1em;
}
.repair h1 {
  font-family: "Roboto", sans-serif;
  padding: 0;
}
.repair p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.repairForm {
  position: relative;
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  max-width: 360px;
  padding: 45px;
  margin: auto;
}
.repairForm input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  box-sizing: border-box;
  margin: 0.8em 0;
  padding: 10px;
  width: 100%;
  outline: none;
  border: 0;
  font-size: 14px;
}
.repairForm textarea {
  box-sizing: border-box;
  margin: 1em 0 0.2em 0;
  padding: 10px;
  width: 100%;
  font-size: 14px;
  min-height: 100px;
}
.repairForm input[type="submit"] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  margin: 1em 0;
  background: #4683b2;
  color: white;
  border: 0;
}
.repairForm input[type="submit"]:hover {
  background: #3b6f97;
}
.repairForm input[type="submit"]:active {
  background: #4f96cc;
}
.instructions {
  color: gray;
  border: 1px solid gray;
  padding: 1.1em;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .service {
    display: flex;
  }
  .physicalstore {
    display: flex;
    flex-direction: row-reverse;
  }
  .physicalstore div {
    width: 100%;
  }
  .service div:first-child {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .physicalstore > div:first-child {
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .service div {
    width: 100%;
  }
}
